body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.ball {
    width: 225px; /* Увеличили размер шара в 1.5 раза */
    height: 225px;
    background: radial-gradient(circle, #f0f0f0 20%, #333 90%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #000;
    text-align: center;
    user-select: none;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    opacity: 0; /* Начальная прозрачность */
    transform: translate(-50%, -50%); /* Центрирование шара */
}